doctype
html
  head
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    link(rel="stylesheet" href="/main.css")
  body
    != yield
    script(src="./index.js")